.t1 {font-size: 10pt;font-family:"新細明體"; color:#868686; margin-left:10px; margin-right:10px; margin-top:10px}
.t1b {font-size: 10pt;font-family:"Arial"; color:#868686; margin-left:10px; margin-right:10px; margin-top:5px}
.t2 {font-size: 10pt;font-family:"新細明體"; color:#868686; margin-left:10px; margin-right:10px}
.t2b {font-size: 10pt;font-family:"Arial"; color:#868686; margin-left:10px; margin-right:10px}
.t3 {font-size: 12pt;font-family:"新細明體"; color:#000000; margin-left:12pt; font-weight:bold}
.t4 {font-size: 10pt;font-family:"新細明體"; color:#868686; margin-top:5px}
.t5 {font-size: 15pt;font-family:"Times New Roman"; color:#B07232; margin-left:14px; margin-right:14px }
.t6 {font-size: 10pt;font-family:"Arial"; color:#868686; line-height:150% }
.t7 {
	font-size: 12pt;
	font-family:"新細明體";
	color:#B07232;
	font-weight:bold;
	border: 1px solid #B07232;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	background-color: #F4E9DD;
}
.t8 {font-size: 20pt;font-family:"新細明體"; color:#000000; font-weight:bold; margin-top:15px; margin-bottom:10px}
.t8b {font-size: 18pt;font-family:"Times New Roman"; color:#000000; font-weight:bold; margin-top:16px; margin-bottom:16px}
.article {font-size: 12pt;line-height: 20pt;font-family: "新細明體";color:#000000; }
.articleb {font-size: 10pt;line-height: 150%;font-family: "Arial";color:#868686 }
.content {font-size: 12pt;line-height: 150%;font-family: "新細明體";color:#868686; margin-top:2; margin-bottom:2 }
.contentb {font-size: 10pt;line-height: 150%;font-family: "Arial";color:#868686; margin-top:2; margin-bottom:2 }
.articletitle {	font-size: 18pt;font-family: "新細明體";color:#cc6600;font-weight:900;text-align: center;margin-top:20px; margin-bottom:30px}
.verse {font-size: 14pt;line-height: 20pt; font-family: "標楷體"; color:#CC0000}
.date {	font-size: 10pt;font-family: "新細明體";color: #868686}
.title3 {font-size: 20pt;font-family:"新細明體"; color:#C2C2C2; font-weight:bold; margin-bottom:2px}
.title3b {font-size: 17pt;font-family:"Times New Roman"; color:#C2C2C2; font-weight:bold; margin-bottom:2px}
a.A1 {text-decoration: none;}
a:link.A1 {color:#868686}
a:visited.A1 {color:#868686}
a:active.A1 {color:#868686}
a:hover.A1 {color:#B07232; text-decoration:underline}
a.A2 {
	text-decoration: none;
}
a:link.A2 {color:#3333FF}
a:visited.A2 {color:#3333FF}
a:active.A2 {color:#3333FF}
a:hover.A2 {color:#3333FF; text-decoration:underline}
